* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

ul,
a {
  list-style: none;
  padding: 0;
}

.header-img {
  width: 50%;
  height: auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#our-mission,
#services,
#contact-us {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1rem 2rem;
  text-align: center;
}

#our-mission {
  margin-top: 5%;
}

#our-mission, #services div {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.33);
}

#services div {
  padding: 5% 0 5% 0;
}


.cut-style .color .texture .wax {
  width: 25%;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.33);
  background: white;
}

#contact-us {
  padding: 5%;
  margin: 2% 0;
  border-top: 1px solid rgba(0, 0, 0, 0.33);
  border-bottom: 1px solid rgba(0, 0, 0, 0.33);
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

/* Responsive mobile*/
@media screen and (min-width: 375px) {
html {
  background-image: url("./img/woman-hair-mobile-first.jpg");
  /* background-size: contain; */
  background-position: left;
}

  header {
    display: flex;
    justify-content: center;
  }
  .header-logo {
    width: 200px;
    height: auto;
    margin: 1rem;
  }

  .header-img {
    display: none;
  }

  .cut-style,
  .color,
  .texture,
  .wax {
    width: 100%;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.33);
    background: white;
    padding: 1rem;
  }

  #our-mission {
    margin-top: 5%;
  }

  #services div {
    padding: 5% 0 5% 0;
    margin-bottom: 12px;
  }

  #services h2 {
    font-size: 35px;
  }

  #services h2 span {
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.33);
    background: white;
  }

  #services h3 {
    font-size: 35px;
    padding-bottom: 10px;
  }

  #services li {
    padding-bottom: 5px;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2rem;
  }

  footer section address {
    width: 100%;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .footer-nav img {
    width: 200px;
    height: auto;
    margin-left: 20px;
  }

  .footer-nav a {
    text-decoration: none;
  }

  address a {
    text-decoration: underline black;
  }

  #social-media-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#facebook img, #twitter img, #instagram img {
  width: 75px;
  margin: 5% 5% 20% 5%; }

  address {
    text-align: center;
  }
}